@model IEnumerable<nkhensaniStudyGroup.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>STUDY GROUP MEMBERS</h1>

@*display group in a table*@ 

<table style="border: 1px solid black">
    <tr>
        <th style="border: 1px solid black">
            @Html.DisplayNameFor(model => model.StdNumber)
        </th>
        <th style="border: 1px solid black">
            @Html.DisplayNameFor(model => model.StdName)
        </th>
        <th style="border: 1px solid black">
            @Html.DisplayNameFor(model => model.StdSurname)
        </th>
        <th style="border: 1px solid black">
            @Html.DisplayNameFor(model => model.StdEmail)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.StdNumber)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.StdName)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.StdSurname)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.StdEmail)
            </td>
        </tr>
        
    }
</table>


